.swiper-container {
  margin: unset !important;
  width: 50%;
  height: 100vh;
}

.currentSlide2 {
  float: left;
  width: 25%;
  height: 40%;
}

.currentSlide2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.currentSlide3 {
  float: left;
  width: 25%;
  height: 40%;
}

.currentSlide3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.currentSlide img {
  height: 100%;
}

.currentSlide {
  position: relative;
  height: 100%;
  float: left;
  width: 50%;
}

.currentSlide img {
  width: 100%;
  object-fit: cover;
}

section.sliderCustom {
  position: relative;
  width: auto;
  height: 90vh;
}

.logoBrand b {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.lang {
  color: grey;
  padding: 0.4rem;
  border: 1px solid;
  border-radius: 50%;
  font-size: 0.8rem;
}

section.navBottom {
  padding: 1.5rem 0px;
  height: 12rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

button.slideClick {
  cursor: pointer;
  position: absolute;
  right: -2rem;
  bottom: 120px;
  background-color: unset;
  border: unset;
}

button.slideClick i {
  color: white;
  font-size: 50px;
}

.content {
  padding: 0px 20%;
  white-space: nowrap;
}

.content h2 {
  font-size: 3rem;
  font-weight: 100;
  font-style: italic;
  margin: 0.9rem 0px;
}

.content h1 {
  font-size: 4rem;
  font-weight: 200;
  margin: 0;
  line-height: 0.2;
}

.content-bellow {
  display: flex;
}

.content-bellow h2 {
  margin-right:0.5rem ;
}

.content-bellow h2.highlight {
  color:#D02027 ;
}


.textshow {
  flex-direction: column;
  float: left;
  width: 50%;
  height: 60%;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
}

.callTo {
  color: #eb0029;
}

section.bodyContainer {
  position: relative;
  height: auto;
  margin-left: 6%;
  float: left;
  width: 94%;
  background-color: wheat;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  top: 0px;
  position: fixed;
  width: 6%;
  background-color: rgb(245, 245, 245);
  height: 100%;
}

section.navCenter {
  flex-direction: column;
  height: 95px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuToggle {
  position: relative;
  width: 35%;
}

.menuToggle div:nth-child(1) {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: grey;
}

.menuToggle div:nth-child(2) {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 2px;
  background-color: grey;
}

.menuToggle div:nth-child(3) {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 2px;
  background-color: grey;
}

section.navCenter:after {
  position: absolute;
  content: "Menu";
  bottom: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

section.navTop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11%;
  z-index: 0;
  top: 5rem;
}

.logo img {
  width: 25px;
}

section.topLogo {
  position: relative;
  z-index: 9;
  height: 10%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.topLogo img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0px;
}

@media (min-width: 875px) {
  body {
    display: block;
  }
}

@media (max-width: 874px) {
  body {
    display: none;
  }
}
